$color-primary: #058dd9;
$color-primary-dark: #005ea3;
$color-secondary: #fd6611;
$color-secondary-dark: #d95e05;
$color-white: #fdfdfd;
$color-dark-grey: #2f353a;
$color-darker-grey: #1c1f22;

$font-family-secondary: "Lato", sans-serif;
