.timer-page {
  position: relative;
  width: 100%;

  &__time-wrapper {
    border-radius: 50px;
    background: #1f2328;
    box-shadow: 5px 5px 10px #1a1e22, -5px -5px 10px #24282e;
    width: 45rem;
    margin: 5rem auto;
    padding-left: 2rem;
  }

  & h1 {
    font-size: 8rem;
    letter-spacing: 3.2px;
    font-weight: 100;
    color: $color-white;
  }
  &__header {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-align: center;
    color: $color-white;
    margin-top: 15rem;
  }

  &__btns {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__btn-wrapper2 {
    cursor: pointer;
  }
}

.stop-btn {
  cursor: pointer;
}
