.timer-page {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &__time-wrapper {
    border-radius: 50px;
    background: rgb(23, 23, 24);
    max-width: 50rem;
    margin: 5rem auto;
    padding-left: 3rem;

    @include respond(phone) {
      border-radius: 20px;
      max-width: 30rem;
    }
  }

  & h1 {
    font-size: 8rem;
    letter-spacing: 3.2px;
    font-weight: 100;
    color: $color-white;

    @include respond(phone) {
      font-size: 4rem;
    }
  }
  &__header {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-align: center;
    color: $color-white;
    margin-top: 15rem;
    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__btn-wrapper2 {
    cursor: pointer;
  }
}

.play-btn {
  &:hover {
    .stroke-solid {
      opacity: 1;
      stroke-dashoffset: 300;
    }
  }
}

.stop-btn {
  cursor: pointer;
  margin-right: 10rem;
}

#tsparticles {
  position: absolute !important;
  width: 100vw;
  height: 100vh;
}
